extends: "airbnb"
parser: "babel-eslint"

rules:
  semi: ["error", "never"]
  no-else-return: "off"
  no-alert: "off"
  no-unused-expressions: ["error", { "allowShortCircuit": true, "allowTernary": true }]
  no-unused-vars: ["error", { "ignoreRestSiblings": true }]
  react/prefer-stateless-function: 2
  quotes: "off"
  max-len: ["warn", 160]
  prefer-template: "off"
  import/extensions: "off"
  import/no-webpack-loader-syntax: "off"
  arrow-parens: "off"
  import/first: ["error", { "absolute-first": false }]
  comma-dangle: ["error", {
    arrays: "always-multiline",
    objects: "always-multiline",
    imports: "always-multiline",
    exports: "always-multiline",
    functions: "ignore"
  }]
  react/jsx-filename-extension: "off"
  react/require-default-props: "off"
  react/forbid-prop-types: "off"
  import/prefer-default-export: "off"
  object-curly-spacing: ["error", "never"]
  brace-style: ["error", "stroustrup"]
  yoda: "off"
  no-nested-ternary: "off"
  react/jsx-wrap-multilines: "off"
  react/no-multi-comp: "off"

settings:
  import/resolver:
    webpack:
      config: config/webpack/base.config.js

parserOptions:
  ecmaFeatures:
    experimentalObjectRestSpread: true

env:
  browser: true
  jquery: true
  mocha: true

globals:
  expect: true
  assert: true
  sinon: true
